@using AccommodationWebPage.Models;
@model UserProfileViewModel

<h3>Witaj @Model.Username</h3>
<div>
    <p>Korzystając z tego panelu możesz zarządzać swoim kontem.</p>
    <p>Możesz zmienić swoje dane osobowe lub hasło do konta.</p>
</div>
<h4>Dane osobowe:</h4>
<div class="form-group">
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })</td>
            <td>@Html.Label(Model.FirstName, new { @class = "col-md-2 control-label" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })</td>
            <td>@Html.Label(Model.LastName, new { @class = "col-md-2 control-label" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.CompanyName, new { @class = "col-md-2 control-label" })</td>
            <td>@Html.Label(Model.CompanyName, new { @class = "col-md-2 control-label" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</td>
            <td>
                <div>@Html.Label(Model.Email, new { @class = "col-md-2 control-label" })</div>
            </td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div>@Html.ActionLink("Zmień dane", "ChangeUserData", "Manage")</div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div>@Html.ActionLink("Zmień hasło", "ChangePassword", "Manage")</div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}